<body>
<div class="container">
    <h1>Ваши данные обнаружили в базе утечек</h1>
    <p>Для подтверждения, что вы действительно владелец электронной почты, перейдите по ссылке ниже:</p>
    <div class="verification-code">
        <a href="https://x.innohassle.ru/{{ message_id }}">ССЫЛКА</a>
    </div>
    <p>Не делитесь данной ссылкой ни с кем. Используйте его только единоразово.</p>
</div>
</body>
